@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background-image: url(/src/assets/img/FondoCardGenerator1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  font-family: "Helvética";
}
h1 {
  text-shadow: 2px 2px #070707;
}
.card {
  background-image: url(/src/assets/img/FondoCard2.jpg);
  width: 4%;
  margin-left: 1%;
  float: left;
  border-radius: 20px;
  border: 3px solid rgb(42, 17, 133);
}

#card1 {
  margin-left: 17%;
  rotate: -5deg;
  z-index: 1;
}

#card2 {
  rotate: 4deg;
  z-index: 2;
}

#card3 {
  rotate: -5deg;
  z-index: 3;
}

.suit {
  font-size: 4em;
  color: black;
}
.number {
  font-size: 4em;
}
.title {
  color: rgb(255, 255, 255);
  font-family: "Helvética";
}
h2 {
  margin-right: 2rem;
  color: #000000;
  font-family: "Helvética";
}
.red-suit {
  color: red;
}

label {
  padding: 0.75em;
  font-weight: bold;
}
input {
  border: 6px solid rgb(42, 17, 133);
}

.btn {
  background: rgb(101, 250, 101);
  background-size: 200% auto;
  font-family: inherit;
  padding: 0.6em 1.3em;
  font-weight: 900;
  font-size: 18px;
  border: 3px solid rgb(42, 17, 133);
  border-radius: 0.4em;
  box-shadow: 0.3em 0.3em;
  cursor: pointer;
  margin-left: 2em;
}

.btn:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
  background: rgb(9, 185, 9);
  border: 3px solid black;
  color: black;
}

.btn:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
}

.hidden {
  display: none !important;
}
